table {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #96D4D4;
}

th,
td {
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.main {
    height: 100vh;
}

.shapes {
    margin: 15% 40%;
}

.r1,
.r2,
.r3 {
    display: inline-block;
}

.r1 #c1 {
    border: 2px solid lawngreen;
    width: 70px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 10px;

}

.r1 #c2 {
    border: 2px solid lawngreen;
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.r1 #c3 {
    border: 2px solid lawngreen;
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.r2 #c1 {
    border: 2px solid lawngreen;
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.r2 #c2 {
    border: 2px solid lawngreen;
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.r2 #c3 {
    border: 2px solid lawngreen;
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.r3 #c1 {
    border: 2px solid lawngreen;
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.r3 #c2 {
    border: 2px solid lawngreen;
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.r3 #c3 {
    border: 2px solid lawngreen;
    width: 70px;
    height: 50px;
    margin-bottom: 10px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
}